body{
background-color:#A28289 ;
}
header{
	background-color: black;
}
div{
background-color: #8458B3 ;
	text-align: center;
	font-family: "Arial",sans-serif;
	color: #FFFFFF;
}
table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: #FFABBD;
}